html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	font-size:2em;
	height: 100%;
}

#root {
	height: 100%;
	padding:0;
	margin: 0;
}

.App {
	height: 100%;
	background: #FFE66B;
}

.bg-sunny {
	background: #FFE66B;
}

.bg-cloudy {
	background: #D7E2E2;
}

.fa {
	font-size: 5vh;
	margin: 0 1.2vh;
	width:8vw;
	vertical-align:top;
}

.unit {
	margin-left:5px;
}
.minMax {
	margin-top:3.7vh;
}

.minMax div {
	line-height:8.7vw;
	padding: 2vw;
}

#mintemp, #maxtemp {
	font-size: 10vw;
}

#weatherData {
	text-align: left;
}

#cityName {
	text-align:center;
	margin: 3vh 0;
}

#temperature {
 	font-size: 28vw;
	font-weight: bold;
	margin-left:3vw;
}

#weatherIcon {
	display:block;
	margin: 6vw auto;
	width: 60vw;
	height: 60vw;
}

#additionaldata label {
	text-transform: uppercase;
	font-size: 4.4vw;
	margin: 0 1.2vw;
}

#additionaldata {
	margin:4vh 3vw;

	text-align: center;
}

.value {
	margin: 0 1vw;
	font-size: 5vw;
}

#additionaldata .unit {
	font-size: 5vw;
}



#locationInput {
	background: transparent;
	color: black;
	font-size:0.85em;
	height: 6vh;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid grey;
}